<div class="hero-unit">
  <h1>Lucky Charms</h1>
  <p>Lucky Charms is a small web based application for serving URLs to a 'unit'. It is primarily driven by an API though it does have a web interface for most things.</p>
</div>
